/*table, th, td {
border: 1px solid black;
padding:5px;
}*/
table {
	border-collapse: collapse;
	white-space: nowrap;
	display: fixed;
}

tbody > tr {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

tbody > tr:hover {
	background-color: #7f0000 !important;
	color: white;
}

a {
	color:blue;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a:hover { color:red; }

.droptext {
	color: red !important;
}

.header-img {
	max-height: 50%;
	max-width: 50%;
}

.stocks {
	max-width: 32px;
	max-height: 32px;
}

/* button recolor */

.animate-show-hide.ng-hide {
	opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
	transition: all linear 0.5s;
}


.positivechange {
	color: green;
}


.negativechange {
	color: red;
}

input[type=text] {
	margin: 25px;
	width: 50%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('../images/search.png');
	background-size: 1em;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 75%;
}

input[type=text].autocomplete {
	margin-left: 0;
	width: 75%;
}
input[type=text]:focus.autocomplete {
	width: 100%;
}

#nav{
	z-index: 10;
	position: relative;
} 

#sidenav-overlay {
	z-index: 9
}
