<head>
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">




	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
	<script src="js/angular-ui-router.js"></script>

	<!-- Custom js -->
	<script src ="js/game.js"></script>

	<!-- My custom CSS -->
	<link rel="stylesheet" href="css/game.css">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

</head>
<body>
	<base href="/"></base>
	<div class="navbar-fixed">
		<nav class="red darken-4" role="navigation">
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo"><img src="images/smash.png" style="vertical-align: middle; padding-bottom: 5px;" width="50px"></img></a>
				<ul class = "right hide-on-med-and-down">
					<li><a href="/">Players</a></li>
					<li><a href="/projects">Tournaments</a></li>
					<li><a href="#">Games</a></li>
				</ul>

				<ul class="side-nav" id= "slide-out">
					<li>
						<div class="userView">
							<div class="background">
								<img src="images/polygons.png" style = "max-height: 250px"></img>
							</div>
						</div>
					</li>
					<li><a href="#">Players</a></li>
					<li><a href="#">Tournaments</a></li>
					<li><a href="#">Games</a></li>
				</ul>
				<a class="button-collapse" data-activates="slide-out"><i class="material-icons">menu</i></a>

			</div>
		</nav>
	</div>
	<div ng-app="myApp" ng-controller="myCtrl" id="divID" class="center">
		<input type="text" ng-model="searchTerm" placeholder="Enter a tag here" class="center">
		<div class="row">
		<div class="col s12 m12 l6 offset-l3">
		<table class="striped bordered centered">
			<tr>
				<thead>
				<th>Tag</th>
				<th>2016 Rank</th>
				<th>Characters</th>
				<th>Score</th>
				<th>Change</th>
				</thead>
				<tbody>
			<tr ng-repeat="x in players | filter: searchTerm as results">
				<td>
					<p> {{ x[0] }} </p>
				</td>
				<td>
					<p> {{ x[1] }} </p>
				</td>
				<td>
					<img ng-repeat="item in x[2] | split" ng-src= "./smash-site-static//images/{{ game }}-stocks/{{ replaceText(item) }}.png" />
				</td>
				<td>
					<p> {{ x[3] }} </p>
				</td>
				<td>
					<p> {{ x[4] }} </p>
				</td>
				<!--
				<td ng-repeat = "y in x" ng-switch="y">
					<p ng-switch-when="jigglypuff"><img src="./images/melee-stocks/jiggs.png" /></p>
					<p ng-switch-when="fox"><img src="./images/melee-stocks/fox.png" /></p>
					<p ng-switch-when="ic"><img src="./images/melee-stocks/ic.png" /></p>
					<p ng-switch-default>{{ replaceText(y) }}</p>
				</td>
				-->
			</tr>
				</tbody>
		</table>
		<replace-icons></replace-icons>
		</div>
		</div>
	</div>
	<div>
		<table>
		</table>
	</div>
</body>
