<head>
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
	<script src="js/angular-ui-router.js"></script>

	<!-- Custom js -->
	<script src ="js/game.js"></script>

	<!-- My custom CSS -->
	<link rel="stylesheet" href="css/game.css">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

</head>
<body>
	<base href="/"></base>
	<div class="navbar-fixed">
		<nav class="red darken-4" role="navigation">
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo"><img src="images/smash.png" style="vertical-align: middle; padding-bottom: 5px;" width="50px"></img></a>
				<ul class = "right hide-on-med-and-down">
					<li><a href="/">Players</a></li>
					<li><a href="/projects">Tournaments</a></li>
					<li><a href="#">Games</a></li>
				</ul>

				<ul class="side-nav" id= "slide-out">
					<li>
						<div class="userView">
							<div class="background">
								<img src="images/polygons.png" style = "max-height: 250px"></img>
							</div>
						</div>
					</li>
					<li><a href="#">Players</a></li>
					<li><a href="#">Tournaments</a></li>
					<li><a href="#">Games</a></li>
				</ul>
				<a class="button-collapse" data-activates="slide-out"><i class="material-icons">menu</i></a>

			</div>
		</nav>
	</div>
	<div ng-app="myApp" ng-controller="myCtrl" id="divID" class="center">

		<div class="row">
			<div class="col l10 offset-l1">
				<ul class="tabs">
					<li class="tab col l2" ng-class="{ active: isSet(1) }">
					<a href ng-click="setTab(1)">Overview</a>
					</li>
					<li class="tab col l2" ng-class="{ active: isSet(2) }">
					<a href ng-click="setTab(2)">Official Rankings</a>
					</li>
					<li class = "tab col l2" ng-class="{ active: isSet(3) }">
					<a href ng-click="setTab(3)">Tournaments</a>
					</li>
				</ul>
			</div>
		</div>
		<!--
		<div ng-show="isSet(1)">
			<p>test1</p>
		</div>
		<div ng-show="isSet(2)">
			<p>test2</p>
		</div>
		-->

		<input type="text" ng-model="searchTerm" placeholder="Enter a tag here" class="center">
		<div class="row">
		<div class="col s12 m12 l6 offset-l3" ng-show="isSet(2)">
		<table class="striped bordered centered responsive-table">
			<tr>
				<thead>
					<th><a href="#" ng-click="playersortType = 'tag'; playersortReverse=!playersortReverse;">Tag
				    <span ng-show="playersortType == 'tag' && !playersortReverse" class="fa fa-caret-down"></span>
				    <span ng-show="playersortType == 'tag' && playersortReverse" class="fa fa-caret-up"></span>
					</a></th>
					<th><a href="#" ng-click="playersortType = 'rank'; playersortReverse=!playersortReverse;">Rank
				    <span ng-show="playersortType == 'rank' && !playersortReverse" class="fa fa-caret-down"></span>
				    <span ng-show="playersortType == 'rank' && playersortReverse" class="fa fa-caret-up"></span>
					</a></th>
					<th><a href="#" ng-click="playersortType = 'characters'; playersortReverse=!playersortReverse;">Characters
				    <span ng-show="playersortType == 'characters' && !playersortReverse" class="fa fa-caret-down"></span>
				    <span ng-show="playersortType == 'characters' && playersortReverse" class="fa fa-caret-up"></span>
					</a></th>
					<th><a href="#" ng-click="playersortType = 'score'; playersortReverse=!playersortReverse;">Score
				    <span ng-show="playersortType == 'score' && !playersortReverse" class="fa fa-caret-down"></span>
				    <span ng-show="playersortType == 'score' && playersortReverse" class="fa fa-caret-up"></span>
					</a></th>
					<th><a href="#" ng-click="playersortType = 'change'; playersortReverse=!playersortReverse;">Change
				    <span ng-show="playersortType == 'change' && !playersortReverse" class="fa fa-caret-down"></span>
				    <span ng-show="playersortType == 'change' && playersortReverse" class="fa fa-caret-up"></span>
					</a></th>
				</thead>
				<tbody>
			<tr ng-repeat="x in players | filter:searchTerm | orderBy:playersortType:playersortReverse">
				<td>
					<p> {{ x.tag }} </p>
				</td>
				<td>
					<p> {{ x.rank }} </p>
				</td>
				<td>
					<img class = "stocks" ng-repeat="item in x.characters | split" ng-src= "./images/{{ game }}-stocks/{{ replaceText(item) }}.png" />
				</td>
				<td>
					<p> {{ x.score }} </p>
				</td>
				<td>
					<p> {{ x.change }} </p>
				</td>
			</tr>
				</tbody>
		</table>
		</div>
		</div>
		<div class="row center" ng-show="isSet(3)">
		<div class="col s12 m12 l6 offset-l3">
			<table class="centered responsive-table">
			<thead>
				<tr>
				<th><a href="#" ng-click="tourneysortType = 'slug'; tourneysortReverse=!tourneysortReverse;">Tournament
			    <span ng-show="tourneysortType == 'name' && !tourneysortReverse" class="fa fa-caret-down"></span>
			    <span ng-show="tourneysortType == 'name' && tourneysortReverse" class="fa fa-caret-up"></span>
				</a></th>
				<th><a href="#" ng-click="tourneysortType = 'entrants'; tourneysortReverse=!tourneysortReverse;">Entrants
			    <span ng-show="tourneysortType == 'entrants' && !tourneysortReverse" class="fa fa-caret-down"></span>
			    <span ng-show="tourneysortType == 'entrants' && tourneysortReverse" class="fa fa-caret-up"></span>
				</a></th>
				<th><a href="#" ng-click="tourneysortType = 'start'; tourneysortReverse=!tourneysortReverse;">Start Date
			    <span ng-show="tourneysortType == 'start' && !tourneysortReverse" class="fa fa-caret-down"></span>
			    <span ng-show="tourneysortType == 'start' && tourneysortReverse" class="fa fa-caret-up"></span>
				</a></th>
				<th><a href="#" ng-click="tourneysortType = 'end'; tourneysortReverse=!tourneysortReverse;">End Date
			    <span ng-show="tourneysortType == 'end' && !tourneysortReverse" class="fa fa-caret-down"></span>
			    <span ng-show="tourneysortType == 'end' && tourneysortReverse" class="fa fa-caret-up"></span>
				</a></th>
				</tr>
			</thead>
				<tbody>
			<tr ng-repeat="x in tourneys | filter:searchTerm | orderBy:tourneysortType:tourneysortReverse">
				<td>
					<a ng-href="http://smash.gg/{{ x.slug }}"> {{ x.name }} </a>
				</td>
				<td>
					<p> {{ x.entrants }} </p>
				</td>
				<td>
					<p> {{ x.start }} </p>
				</td>
				<td>
					<p> {{ x.end }} </p>
				</td>
			</tr>
				</tbody>
		</table>

		</div>
		</div>
	</div>
</body>
